<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Hotel Application</title>
<link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>The Ritz Hotel</h1>
<p>The Ritz London is a Grade II listed 5-star hotel located in Piccadilly in London, England. A symbol of high society and luxury, the hotel is one of the world's most prestigious and best known hotels.[1] It is a member of the international consortium, The Leading Hotels of the World.
The hotel was opened by Swiss hotelier César Ritz in May 1906, eight years after he established the Hôtel Ritz Paris. After a weak beginning, the hotel began to gain popularity towards the end of World War I, and became popular with politicians, socialites, writers and actors of the day in particular.
David Lloyd George held a number of secret meetings at the Ritz during the latter half of the war, and it was at the Ritz that he made the decision to intervene on behalf of Greece against Turkey.
Noël Coward was a notable diner at the Ritz in the 1920s and 1930s.</p>

<img th:src= "@{assets/gif.gif}"/>

</body>
</html>